*{
   box-sizing: border-box; 
}
@font-face {
    font-family: "Font";
    src: url(./Fraunces/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
    font-family: "Font-2";
    src: url(./Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
    font-family: "Font-3";
    src: url(./Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

body{
    background-color: rgb(153, 153, 153);
}

h2{
    color: rgb(223, 223, 223);
}

.Container{
    margin: 20% 40% ;
    width: 50%;
}

.Card_1{
    width: 25%;
    float: left;
}
.card_text{
    text-align: center;
    font-family: "Font-2", "Sans-serif";
    font-size: 14px;
    padding: 10px;
    background-color: white;
}

.card2container{
    padding: 10px;
}
.Card_2{
    width: 25%;
    float: left;
}

.card_text2{
    text-align: center;  
    font-family: "Font-2", "Sans-serif";
    font-size: 14px; 
    padding: 10px;
    background-color: white;
}

.card_title{
    text-align: center;
    font-family: "Font-3", "Sans-serif";
    font-weight: 400;
    font-size: 30px;
    background-color: rgb(30, 201, 124);
    border-radius: 5px;
}

.float{
    clear: both;
}