*{
   box-sizing: border-box; 
}
@font-face {
    font-family: "Font";
    src: url(./Fraunces/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
    font-family: "Font-2";
    src: url(./Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
    font-family: "Font-3";
    src: url(./Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}


.Container{
    margin: 20% 40% ;
    width: 50%;
}

.Card_1{
    border: 1px solid black;
    width: 25%;
    float: left;
}
.card_text{
    text-align: center;
    font-family: "Font-2", "Sans-serif";
    font-size: 14px;
}


.Card_2{
    border: 1px solid black;
    width: 25%;
    float: left;
}

.card_text2{
    text-align: center;  
    font-family: "Font-2", "Sans-serif";
    font-size: 14px; 
}

.card_title{
    border: 1px solid black;
    text-align: center;
    font-family: "Font-3", "Sans-serif";
    font-weight: 400;
    font-size: 30px;
}

.float{
    clear: both;
}