*{
   box-sizing: border-box; 
}
@font-face {
    font-family: "Font";
    src: url(./Fraunces/Fraunces-Italic-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
    font-family: "Font-2";
    src: url(./Fraunces/Fraunces-VariableFont_SOFT\,WONK\,opsz\,wght.ttf);
}

@font-face {
    font-family: "Font-3";
    src: url(./Montserrat/Montserrat-Italic-VariableFont_wght.ttf);
}

body{
    background-color: rgb(215, 215, 215);
}

h2{
    color: rgb(223, 223, 223);
}

.Container{
    margin: 20% auto;
    width: 80%;
}

.Card{
    width: 50%;
    float: left;
    padding: 10px;
}
.card_text{
    width: 100%;
    text-align: center;
    font-family: "Font-2", "Sans-serif";
    font-size: 14px;
    padding: 20px;
    background-color: white;
    float:left;
    box-shadow: 2px 3px 2px 4px rgb(85, 83, 83);
}

.card2container{
    padding: 10px;
    
}


.card_title{
    width:100%;
    text-align: center;
    font-family: "Font-3", "Sans-serif";
    font-weight: 400;
    font-size: 50px;
    background-color: rgb(255, 123, 0);
    /* border-radius: 5px; */
    display: block;
    float:left;
    box-shadow: 2px 3px 2px 4px rgb(85, 83, 83);
}

.float{
    clear: both;
}


.clearfix:after { 
    content: "."; 
    visibility: hidden; 
    display: block; 
    height: 0; 
    clear: both;
 }

/* .clearfix {
    zoom: 1;
}

.clearfix::before {
    content: "";
    display: table;
}

.clearfix::after {
    content: "";
    display: table;
    clear: both;
} */

 